@tailwind base;
@tailwind components;
@tailwind utilities;

.cell {
  width: 20px; /* Adjusted to match the inline style */
  height: 20px; /* Adjusted to match the inline style */
  outline: 1px solid rgb(98, 98, 98);
  opacity: 0.3;
  display: inline-block;
  /* transition: background-color 0.1s ease; */
}

/* Tailwind utility classes for background colors */
.bg-black {
  background: linear-gradient(50deg, rgb(172, 190, 255), rgb(82, 82, 255));
  opacity: 0.9;
}

.bg-white {
  background-color: rgb(82, 82, 82);
}
